body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url(https://i.gifer.com/QmVe.gif) fixed;
    background-size: cover;
}

.container {
    margin-top: 50px;
}

textarea {
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
    background-color: #a67bff;
    color: #ff6ac9;
    font-size: 18px;
    border: none;
    padding: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.5;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #a67bff;
    color: #ff6ac9;
    border: none;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

#poemOutput {
    margin-top: 20px;
    font-style: italic;
    font-size: 100px;
    text-align: center;
    color: #ff6ac9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}